<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/homepage">Products</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
      <%= link_to "Home", products_path, class:"nav-link" %>
      </li>
     
      <li class="nav-item active">
      <%= link_to "Not Default Scope", "/notdefaultscope", class:"nav-link" %>
      </li>

       <li class="nav-item active">
      <%= link_to "All Status Data", "/allscopedata", class:"nav-link" %>
      </li>

      <li class="nav-item active">
          <%= link_to "Customers", customers_path, class:"nav-link" %>
      </li>

      <li class="nav-item active">
          <%= link_to "Orders", orders_path, class:"nav-link" %>
      </li>


    </ul>
  </div>
</nav>