<div class="row justify-content-center m-4">
   <div class="col-lg-2">
      <p>Id</p>
   </div>
   <div class="col-lg-2">
      <p><%= @customer.id %></p>
   </div>
</div>

<div class="row justify-content-center m-4">
   <div class="col-lg-2">
      <p>First Name</p>
   </div>
   <div class="col-lg-2">
      <p><%= @customer.fname %></p>
   </div>
</div>

<div class="row justify-content-center m-4">
   <div class="col-lg-2">
      <p>Last Name</p>
   </div>
   <div class="col-lg-2">
      <p><%= @customer.lname %></p>
   </div>
</div>

<div class="row justify-content-center m-4">
   <div class="col-lg-2">
      <p>Email</p>
   </div>
   <div class="col-lg-2">
      <p><%= @customer.email %></p>
   </div>
</div>

<div class="row justify-content-center m-4">
   <div class="col-lg-2">
      <p>Phone</p>
   </div>
   <div class="col-lg-2">
      <p><%= @customer.phone %></p>
   </div>
</div>

<div class="row justify-content-center m-4">
   <div class="col-lg-2">
     <%= link_to "Back", customers_path, class:"btn btn-success" %>
   </div>
   
</div>

