<div class="container">
     <%= form_with model: product  do |form| %>
            <div class="row justify-content-center">
                <div class="col-lg-3">
                          <div class="form-group">
                                <%= form.label :title %>
                                <%= form.text_field :title, class:"form-control" %>
                           </div>      
                </div>
            </div>

                <% product.errors.full_messages_for(:title).each do |message| %>
                     <p class="text-center text-danger"><%= message %></p>
                <% end %>
            <div class="row justify-content-center mt-2">
                <div class="col-lg-3">
                          <div class="form-group">
                                <%= form.label :description %>
                                <%= form.text_field :description, class:"form-control" %>
                           </div>      
                </div>
            </div>
                    <% product.errors.full_messages_for(:description).each do |message| %>
                     <p class="text-center text-danger"><%= message %></p>
                <% end %>
            <div class="row justify-content-center mt-3">
                <div class="col-lg-3">
                          <div class="form-group">
                                <%= form.label :price %>
                                <%= form.text_field :price, class:"form-control" %>
                           </div>      
                </div>
            </div>
                    <% product.errors.full_messages_for(:price).each do |message| %>
                     <p class="text-center text-danger"><%= message %></p>
                <% end %>
            <div class="row justify-content-center mt-3">
                <div class="col-lg-3">
                          <div class="form-group">
                                <%= form.label :capacity %>
                                <%= form.select :capacity, ["select",1,2,3,4,5,6,7,8,9,10],{}, class:"form-control" %>
                           </div>      
                </div>
            </div>
                    <% product.errors.full_messages_for(:capacity).each do |message| %>
                         <p class="text-center text-danger"><%= message %></p>
                     <% end %>
            <div class="row justify-content-center mt-3">
                <div class="col-lg-3">
                          <div class="form-group">
                                <%= form.label :is_active %>
                                <%= form.check_box :is_active,{}, class:"form-control" %>
                           </div>      
                </div>
            </div>
            
            <div class="row justify-content-center mt-3">
                <div class="col-lg-3">
                          <div class="form-group">
                                <%= form.label :status %>
                                <%= form.select :status, Product.statuses.keys, {}, class:"form-control" %>
                           </div>      
                </div>
            </div>

               

            <div class="row justify-content-center mt-3">
                <div class="col-lg-3">
                          <div class="form-group">
                                <%= form.submit "Save Product", class:"btn btn-success" %>
                           </div>      
                </div>
            </div>

     <% end %>
</div>
