<h1 class="text-success text-center m-4">Display Products</h1>
<%= link_to "Add Product", new_product_path, class:"btn btn-primary m-4" %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Desctiption</th>
      <th scope="col">Status</th>
      <th scope="col">Price</th>
      <th scope="col">Show</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  <%  @products.each do |product| %>
    <tr>
      <th scope="row"> <%= product.id %> </th>
      <td><%= product.title %></td>
      <td><%= product.description %></td>
      <td><%= product.status %></td>
      <td><%= product.price %></td>
      <td><%= link_to "Show", product_path(product.id), class:"btn btn-success" %></td>
      <td><%= link_to "Edit", edit_product_path(product.id), class:"btn btn-success" %></td>
      <td><%= link_to "Delete",  product_path(product.id), method: :delete, class:"btn btn-success" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h1 class="text-center m-4">most sales product by quantity</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      
    </tr>
  </thead>
  <tbody>
  <%  @customers.each do |cust| %>
    <tr>
      <th scope="row"> <%= cust.customer.id %> </th>
      <td><%= cust.customer.fname %></td>
      <td><%= cust.customer.lname %></td>
      <td><%= cust.customer.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h1 class="text-center m-3">most sales product by price</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
  <%  @customer_by_price.each do |price| %>
    <tr>
      <th scope="row"> <%= price.customer.id %> </th>
      <td><%= price.customer.fname %></td>
      <td><%= price.customer.lname %></td>
      <td><%= price.customer.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h1 class="text-center m-3">most booked order of product</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
  <%  @customer_five.each do |customer_five| %>
    <tr>
      <th scope="row"> <%= customer_five.customer.id %> </th>
      <td><%= customer_five.customer.fname %></td>
      <td><%= customer_five.customer.lname %></td>
      <td><%= customer_five.customer.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h1 class="text-center m-3">most cancelled order of product</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
  <%   @customer_cancelled.each do |customer_cancelled| %>
    <tr>
      <th scope="row"> <%= customer_cancelled.customer.id %> </th>
      <td><%= customer_cancelled.customer.fname %></td>
      <td><%= customer_cancelled.customer.lname %></td>
      <td><%= customer_cancelled.customer.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>

